.form__field {
    border: 2px solid darkgreen;
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
}

.form__header {
    color: teal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;
}

.form__paragraph {
    display: grid;
    grid-template-columns: 1fr 1fr;
}